[Unit]
Description=Minecraft Bedrock Server
After=network.target

[Service]
Type=forking
User=minecraft
Group=minecraft
WorkingDirectory=/home/minecraft/currentVersion
ExecStart=/usr/bin/script -q -c "~/currentVersion/bedrock_server_tmux.sh" /dev/null
#ExecStop=/usr/bin/tmux send-keys -t mcs 'say SERVER SHUTTING DOWN IN 10 SECONDS' Enter
#ExecStop=/usr/bin/sleep 10
ExecStop=/usr/bin/tmux send-keys -t mcs 'stop' Enter
KillMode=none

[Install]
WantedBy=multi-user.target
