[Unit]
Description=Minecraft Bedrock Server
After=network.target

[Service]
User=root
WorkingDirectory=/root/currentVersion/
ExecStart=/root/currentVersion/bedrock_server
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
