[Unit]
Description=Timer for Backup Minecraft Bedrock World

[Timer]
OnUnitActiveSec=86400s
AccuracySec=1s
Unit=minecraft-bedrock-backup.service

[Install]
WantedBy=multi-user.target
