[Unit]
Description=timer for updating siteforest - 120s

[Timer]
OnUnitActiveSec=120s
AccuracySec=10s
Unit=siteforest-update.service

[Install]
WantedBy=multi-user.target
